h1{
    height: 100px;
    background-color: lightgray;
    text-align: center;
}
h2{
    height: 100px;
    background-color: lightgray;
    text-align: center;
}
img{
    height: 200px;
   
}